html, body {
	color: white;
	background-color: #181818;
	font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgb(146 146 146);
}

table, td, th, tr {
	color: white;
	word-break: break-all;
	min-width: 5rem;
}

.table td, .table th {
	border-top-color: rgb(56, 61, 63);
}

.table thead th {
	border-bottom: unset;
	letter-spacing: 1;
}

h1#title {
	color: #16f1b0;
	word-break: break-all;
	font-size: 1.5rem;
	margin-top: 8px;
}

A:any-link {
	color: rgb(0, 162, 255);
}

@media (max-width: 767px) {
	h1#title {
		font-size: x-large;
		padding-top: 20px;
		padding-bottom: 10px;
		margin-top: unset;
	}
}

.container-fluid {
	max-width: 95%;
}
